<div class="panel panel-default post-panel" >
  <div class="panel-body">
    <div class="col-sm-1">
      <% begin %>
        <%= image_tag User.find_by_username(reply.name).avatar.variant(resize: "40x40!"), class: "rounded-circle", style: 'margin-top:15px;margin-bottom:15px;' %>
      <% rescue %>
        <% if reply.body %>
          <%= image_tag('/img/guest.png', style: 'height:50px;width:50px;margin-top:15px;margin-bottom:15px;' , class: "rounded-circle")%>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-11">
      <p class="post-title">
        <a href="/user/<%= User.find_by_username(reply.name ) %>">
          <span class='post-owner'> <%= reply.name %> </span>
        </a>
        <% if reply.created_at %>
        - <small class='post-time'><%= reply.created_at.to_formatted_s(:short) %></small>
        <% end %>
      </p>
      <p class="post-content">
        <%= reply.body %>
      </p>
      
    </div>
    <div class="col-sm-3">
      <p class="post-link">
        <% if user_signed_in? && current_user==User.find_by_username(reply.name)%>
          <%= link_to '', [reply.post,reply],method: :delete, data: {confirm: 'Are you sure'}, class:"post-img fas fa-trash" %>
        <% end %>
      </p>
    </div>
  </div>
</div>