<div class="d-flex flex-row">
  <div class="login">
  <img> <%= link_to image_tag('login.png',alt:'logo'), root_path ,class:"navbar-brand"%> </img>
  </div>


  <div class="p-2 signup-2">
  <div class="d-flex flex-column">
    <%= link_to image_tag('/img/logo.png',class:"logo",height:"50",alt:'logo'), root_path ,class:"navbar-brand"%>
		<h2>Sign up</h2>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%= render "devise/shared/error_messages", resource: resource %>

	  <div class="field">
	    <%= f.label :username %><br />
		<span><i class="fa fa-user"></i>
	    <%= f.text_field :username, autofocus: true,placeholder: 'nick-name' %>
	  </div>

	  <div class="field">
	    <%= f.label :email %><br />
		<span><i class="fa fa-envelope"></i>
	    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: 'abc@gmail.com'%>
	  </div>

	  <div class="field">
	    <%= f.label :password %>
	    <% if @minimum_password_length %>
	    <em>(<%= @minimum_password_length %> characters minimum)</em>
	    <% end %><br />
		<span><i class="fa fa-lock"></i>
	    <%= f.password_field :password, autocomplete: "new-password",placeholder: 'password' %>
	  </div>

	  <div class="field">
	    <%= f.label :password_confirmation %><br />
		<span><i class="fa fa-lock"></i>
	    <%= f.password_field :password_confirmation, autocomplete: "new-password" ,placeholder: 'password' %>
	  </div>
		<br/>
	  <div class="actions">
	    <%= f.submit "Sign up",class:"btn btn-primary" %>
	  </div>
	<% end %>
  <div>Already have an account?
   <%= render "devise/shared/links" %>
  </div>



  </div>
  </div>
</div>













<!--



<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

-->