
  <div class='forgetpass card'>
	
					<div class="forimg"> 
						 <%= link_to image_tag('/img/logo.png',class:"logo",height:"100",alt:'logo'), root_path ,class:"navbar-brand"%>
					</div>
					<div class="heading mb-3">
						<h2>Forgot your password?</h2>
					</div>

					<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
					  <%= render "devise/shared/error_messages", resource: resource %>

					  <div class="field">
					    <%= f.label :email %><br />
						<span><i class="fa fa-envelope"></i>
					    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
					  </div>
						<br/><br/>
					  <div class="actions">
					    <%= f.submit "Send me reset password instructions",class:'btn btn-secondary' %>
					  </div>
					<% end %>
					
					<%= render "devise/shared/links"%>
			
</div>







<!--

 <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
						<div class="form-input">
				   	
              <span><i class="fa fa-envelope"></i></span>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder:'Email'%>
						</div>
						
						<div class="text-left mb-3">
						
              <div class="actions">
                <%= f.submit "Send me reset password instructions" %>
              </div> 
						</div>
          <% end %>
						<div class="text-white mb-3">or login with</div>
						<div class="row mb-3">
							<div class="col-4">
								<a href="" class="btn btn-block btn-social btn-facebook">
									<i class="fa fa-facebook"></i>
								</a>
							</div>
							<div class="col-4">
								<a href="" class="btn btn-block btn-social btn-google">
									<i class="fa fa-google"></i>
								</a>
							</div>
							<div class="col-4">
								<a href="" class="btn btn-block btn-social btn-twitter">
									<i class="fa fa-github"></i>
								</a>
							</div>
						</div>
						<div class="text-white">Don't have an account?
              <%= render "devise/shared/links" %>
						 <!--	<a href="register.html" class="register-link">Register here</a><br/> <br/><br/> <br/> 
						</div>









-->







<!--



<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
 

 -->