<div class="panel panel-default post-panel" >
  <div class="panel-body">
    <div class="col-sm-1">
      <% begin %>
        <%= image_tag User.find(p.user_id).avatar.variant(resize: "40x40!"), class: "rounded-circle", style: 'margin-top:15px;margin-bottom:15px;' %>
      <% rescue %>
        <%= image_tag('/img/guest.png', style: 'height:50px;width:50px;margin-top:15px;margin-bottom:15px;' , class: "rounded-circle")%>
      <% end %>
    </div>
    <div class="col-sm-11">
      <p class="post-title">
        <a href="/user/<%= User.find(p.user_id).username %>">
          <span class='post-owner'><%= User.find(p.user_id).username %> </span>
        </a>
        - <small class='post-time'><%= p.created_at.to_formatted_s(:short)%></small>
      </p>
      <p class="post-content">
        <%= p.content %>
        <div class="image-tweet" >
          <%= image_tag(p.image, style: 'width:100%') if p.image.attached? %>
        </div>
      </p>
      
    </div>
    <div class="col-sm-12">
      <p class="post-link">
        <a href="" class="post-img"><i class="fa fa-reply"></i></a>
        <a href="" class="post-img"><i class="fas fa-retweet"></i></a>
        <%= link_to like_post_path(p.id) ,class:'like-btn far fa-heart post-img',onClick:"window.location.reload();", method: :put, remote: :true do %>
            <span class='likes-count'><%= p.get_upvotes.size %></span>              
        <% end %>
        <% if user_signed_in? && current_user==User.find(p.user_id)%>
        <%= link_to '', edit_post_path(p.id),class:"post-img fas fa-pencil-alt"%>
      <% end %>
        <% if user_signed_in? && current_user==User.find(p.user_id)%>
          <%= link_to '', {:controller=>:posts,:action=>:destroy, :id=>p.id}, :method=>:delete, class:"post-img fas fa-trash" %>
        <% end %>
      </p>
    </div>
  </div>
</div>
