  <br/>
  <br>
  <div class="row">
    <div class="col">
      <div class="panel panel-default">
        <div class="panel-body">
        
        </div>
      </div>
    </div>

    <div class="col-6">
      <% @posts.each do |p| %>
          <%= render partial: 'tweet', locals: {p: p} %>
            <br/>
      <% end %>
    </div>
  
    <div class="col">
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="side-panel">
          Who to Follow          
          </p>
        </div>
      </div>
     <div class="panel panel-default">
        <div class="panel-body">
          <div class="whotofollowpanel">
            <% @users.each do |user|%>
              <% if user_signed_in?%>
                <% if current_user != user  && !current_user.following?(user)%>
                  <div clas="col-sm-1">
                    <% begin %>
                        <%= image_tag User.find(user.id).avatar.variant(resize: "40x40!"), class: "sideimg rounded-circle", style: 'margin-top:15px;margin-bottom:50px;' %>
                    <% rescue %>
                        <%= image_tag('/img/guest.png',class: "sideimg rounded-circle", style: 'height:40px;width:40px;margin-top:15px;margin-bottom:50px;')%>
                    <% end %>

                  </div>
                  <div class="col-sm-11" style="margin-top: -92px;">
                    <span class="whotofollowtitle">
                      <a href="/user/<%= user.username %>">
                        <span class='post-owner'>
                          <%= user.username%>
                        </span>
                      </a>
                      </span>
                      <% if user_signed_in? && current_user!=@user%>
                        <% if current_user.following?(@user)%>
                          <%= button_to 'unfollow', relationships_path(user_id: user.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary",style:"margin-left: 127px;margin-top: -30px;"%> 
                        <% else %>
                          <%= button_to 'follow', relationships_path(user_id: user.id), class:"btn btn-primary",style:"margin-left: 127px;margin-top: -30px;" %> 
                        <% end %>
                      <% end %>
                    </p>
                  </div>
                
                  
                <% end %>
              
              <% else %>
                  <div clas="col-sm-1">
                    <% begin %>
                        <%= image_tag User.find(user.id).avatar.variant(resize: "40x40!"), class: "sideimg rounded-circle", style: 'margin-top:15px;margin-bottom:50px;' %>
                    <% rescue %>
                        <%= image_tag('/img/guest.png',class: "sideimg rounded-circle", style: 'height:40px;width:40px;margin-top:15px;margin-bottom:50px;')%>
                    <% end %>

                  </div>
                  <div class="col-sm-11" style="margin-top: -83px;">
                    <span class="whotofollowtitle">
                      <a href="/user/<%= user.username %>">
                        <span class='post-owner'>
                          <%= user.username%>
                        </span>
                      </a>
                      </span>
                      <% if user_signed_in? && current_user!=@user%>
                        <% if current_user.following?(@user)%>
                          <%= button_to 'unfollow', relationships_path(user_id: user.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary",style:"margin-left: 127px;margin-top: -30px;"%> 
                        <% else %>
                          <%= button_to 'follow', relationships_path(user_id: user.id), class:"btn btn-primary",style:"margin-left: 127px;margin-top: -30px;" %> 
                        <% end %>
                      <% end %>
                    </p>
                  </div>
                <br/>
              <% end%>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="side-panel">about
          
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="side-panel" style="opacity: 50%;">
            <small>
              Terms of Service
            Privacy Policy
            Cookie Policy
            Ads info
            More
            © 2021 Twitter, Inc.
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>

