  <br/>
  <br>
  <div class="row">
    <div class="col">
      <div class="panel panel-default">
        <div class="panel-body">
          <% if user_signed_in? %>
          <div class="side-panel">
            <div class="col-sm-12" style="margin-top: 10px;">
              <div class="col-sm-2">
              <% begin %>
              <%= image_tag current_user.avatar.variant(resize: "200x200!"), class: "rounded-circle" %>
              <% rescue %>
              <%= image_tag('/img/no_image.png', style: 'height:200px;width:200px;' , class: "rounded-circle")%>
              <% end %>
            </div>
              <div class="col-sm-10"><h4 style="text-align: center;">
              <a class="post-owner" href="/user/<%= current_user.username %>">
                <%= current_user.username %>  
              </a>            
              </h4></div>
              <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">POSTS<br>
                <h6 style="color: #0084B4; font-size: 200%;"><%= current_user.posts.count %></h6>
              </div>
              <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">FOLLOWERS<br>
                <h6 style="color: #0084B4; font-size: 200%;"><%= current_user.followers.count%></h6>
              </div>
              <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">FOLLOWing<br>
                <h6 style="color: #0084B4; font-size: 200%;"><%= current_user.following.count%></h6>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= render 'tweet'%>
  
    <div class="col">
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="side-panel">about
          
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="side-panel" style="opacity: 50%;">
            <small>
              Terms of Service
            Privacy Policy
            Cookie Policy
            Ads info
            More
            © 2021 Twitter, Inc.
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>

