  <br/>
  <br>
  <div class="row">
    <div class="col" style="margin-top: -21px;">
      <div class="panel panel-default">
        <div class="panel-body">
          <% if user_signed_in? %>
          <div class="side-panel">
            <div class="col-sm-12" style="margin-top: 10px;">
              <div class="col-sm-2">
              <% begin %>
              <a href="/user/<%= current_user.username %>">
              <%= image_tag current_user.avatar.variant(resize: "200x200!"), class: "rounded-circle" %>
              </a>
              <% rescue %>
              <a href="/users/edit">
              <%= image_tag('/img/guest.png', style: 'height:200px;width:200px;' , class: "rounded-circle")%>
               </a>
              <% end %>
            </div>
              <div class="col-sm-10"><h4 style="text-align: center;margin-left: 43px;">
              <a class="post-owner" href="/user/<%= current_user.username %>">
                <%= current_user.username %>  
              </a>            
              </h4></div>
              <div class="col-sm-6" style="margin-left: 57px;font-size: 80%; opacity: 0.7;">POSTS<br>
                <h6 style="color: #0084B4; font-size: 200%;"><%= current_user.posts.count %></h6>
              </div>
               <div class="row">
                <div class="col-6">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                      Following
                </button><br>
                <h6 style="color: #0084B4; font-size: 200%;"><%= current_user.following.count %></h6>
                </div>
                <div class="col-6">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                  Followers
                </button><br>
                <h6 style="color: #0084B4; font-size: 200%;"><%= current_user.followers.count %></h6>
                </div>
               </div>

              <br>
              <br>

            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-6 " style="margin-top: -21px;">
      <% if user_signed_in? %>
        <%= render '/components/post_form' %>
      <% end %>
      <div class="scroll-center-column">
      <% @posts.each do |p| %>
      <% if !user_signed_in? || current_user == p.user || current_user.following?(p.user) %>   
      <%= render partial: 'tweet', locals: {p: p} %>
        <% end %>
      <% end %>
      </div>
    </div>
  
    <div class="col" style="margin-top: -21px;">
     



      <div class="panel panel-default">
        <div class="panel-body">
          <p style="opacity: 50%;">
              
                <div class="card card-body">
                  <div class="panel-body">
                    <p class="side-panel">who to follow
          
                    </p>
                  </div>
                  <% @users.each do |f|%>
                  <% if f!=current_user && !current_user.following?(f)%>
                    <div clas="col-sm-1">
                      <% begin %>
                          <%= image_tag User.find(f.id).avatar.variant(resize: "40x40!"), class: "sideimg rounded-circle", style: 'margin-top:15px;margin-bottom:50px;' %>
                      <% rescue %>
                          <%= image_tag('/img/guest.png',class: "sideimg rounded-circle", style: 'height:40px;width:40px;margin-top:15px;margin-bottom:50px;')%>
                      <% end %>
                    </div>
                    <div style="margin-top: -84px;margin-bottom: -40px;">
                      <span class="whotofollowtitle" style="margin-left: 42px;">
                        &nbsp;<a href="/user/<%= f.username %>">
                          <span class='post-owner'>
                            <%= f.username%>
                          </span>
                        </a>
                        </span>
                      <p>
                        <% if user_signed_in? %>
            
                            <%= button_to 'follow', relationships_path(user_id: f.id), class:"btn btn-primary btn-sm",style:"margin-left: 127px;margin-top: -80px;" %> 
                          <% end %>
                        
                      </p>
                    </div>
                  <br>
                  <% end %>
                  <% end %>
                </div>
          
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <p style="opacity: 50%;">
              <div class="collapse" id="collapseExample1">
                <div class="card card-body">
                  <div class="panel-body">
                    <p class="side-panel">following
          
                    </p>
                  </div>
                  <% current_user.following.each do |f|%>
                    <div clas="col-sm-1">
                      <% begin %>
                          <%= image_tag User.find(f.id).avatar.variant(resize: "40x40!"), class: "sideimg rounded-circle", style: 'margin-top:15px;margin-bottom:50px;' %>
                      <% rescue %>
                          <%= image_tag('/img/guest.png',class: "sideimg rounded-circle", style: 'height:40px;width:40px;margin-top:15px;margin-bottom:50px;')%>
                      <% end %>
                    </div>
                    <div style="margin-top: -84px;margin-bottom: -40px;">
                      <span class="whotofollowtitle" style="margin-left: 42px;">
                        <a href="/user/<%= f.username %>">
                          <span class='post-owner'>
                            <%= f.username%>
                          </span>
                        </a>
                        </span>
                      <p>
                        <% if user_signed_in? && current_user!=f%>
                          <% if current_user.following?(f)%>
                            <%= button_to 'unfollow', relationships_path(user_id: f.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm",style:"margin-left: 127px;margin-top: -80px;"%> 
                          <% else %>
                            <%= button_to 'follow', relationships_path(user_id: f.id), class:"btn btn-primary btn-sm",style:"margin-left: 127px;margin-top: -80px;" %> 
                          <% end %>
                        <% end %>
                      </p>
                    </div>
                  <br>
                  <% end %>
                </div>
              </div>
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <p style="opacity: 50%;">
              <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                  <div class="panel-body">
                    <p class="side-panel">followers
          
                    </p>
                  </div>
                  <% current_user.followers.each do |f|%>
                    <div clas="col-sm-1">
                      <% begin %>
                          <%= image_tag User.find(f.id).avatar.variant(resize: "40x40!"), class: "sideimg rounded-circle", style: 'margin-top:15px;margin-bottom:50px;' %>
                      <% rescue %>
                          <%= image_tag('/img/guest.png',class: "sideimg rounded-circle", style: 'height:40px;width:40px;margin-top:15px;margin-bottom:50px;')%>
                      <% end %>
                    </div>
                    <div style="margin-top: -84px;margin-bottom: -40px;">
                      <span class="whotofollowtitle" style="margin-left: 42px;">
                        <a href="/user/<%= f.username %>">
                          <span class='post-owner'>
                            <%= f.username%>
                          </span>
                        </a>
                        </span>
                      <p>
                        <% if user_signed_in? && current_user!=f%>
                          <% if current_user.following?(f)%>
                            <%= button_to 'unfollow', relationships_path(user_id: f.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm",style:"margin-left: 127px;margin-top: -80px;"%> 
                          <% else %>
                            <%= button_to 'follow', relationships_path(user_id: f.id), class:"btn btn-primary btn-sm",style:"margin-left: 127px;margin-top: -80px;" %> 
                          <% end %>
                        <% end %>
                      </p>
                    </div>
                  <br>
                  <% end %>
                </div>
              </div>
          </p>
        </div>
      </div>
    </div>
  </div>

