  <br/>
  <div class="row probg">
  
    
      
          <div class="jumbotron profilejumbo m-4 ">
            <% begin %>
            <a href="/users/edit">
              <%= image_tag @user.avatar.variant(resize: "300x300!"), class: "rounded-circle" %>
            </a>
            <% rescue %>
              <%= image_tag('/img/no_image.png', style: 'height:300px;width:300px;' , class: "rounded-circle")%>
            <% end %>
            <br/>
            <h3 class='pl-5', style="font-weight: bold;"><%= params[:id] %></h3>
            <% if user_signed_in? && current_user!=@user%>
              <% if current_user.following?(@user)%>
                <%= button_to 'unfollow', relationships_path(user_id: @user.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %> 
              <% else %>
                <%= button_to 'follow', relationships_path(user_id: @user.id), class:"btn btn-primary" %> 
              <% end %>
            <% end %>
            </div>
      
  
  
</div>



<br/>
<div class="row">
  <div class="col">
  

  </div>
  
  <div class="col-8">
    <% if user_signed_in? && current_user==@user %>
      <%= render '/components/post_form' %> <br/>
    <% end %>
    <% @posts.each do |p| %>
    <% if !user_signed_in? || current_user == p.user || current_user.following?(p.user) %>   
      <%= render partial: 'tweet', locals: {p: p} %>
      <br/>
      <% end %>
    <% end %>
  </div>

  <div class="col"> </div>

</div>

