<div class="panel-body">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-1 text-center">
          <%= link_to root_path do %>
            <i class="fa fa-arrow-left" style='font-size:25px;padding-top:18px;'></i>
          <% end %>
        </div>
        <div class="col-1">
          <p><h3 style="margin-right: -200px;" ><%= @user.username %></h3></p>
          <p><%= @user.posts.count %>&nbsp;tweets</p>
        </div>
      </div>
          
      <div class="jumbotron profilejumbo text-center" style='padding:40px;'>
        <% begin %>
          <% if current_user == @user%>
            <a href="/users/edit"><%= image_tag @user.avatar.variant(resize: "120x120!"), class: "rounded-circle" %></a>
          <% else %>
            <%= image_tag @user.avatar.variant(resize: "120x120!"), class: "rounded-circle" %>
          <%end%>
        <% rescue %>
          <% if current_user == @user%>
            <a href="/users/edit"><%= image_tag('/img/guest.png', style: 'height:120px;width:120px;' , class: "rounded-circle")%></a>
          <%else%>
            <%= image_tag('/img/guest.png', style: 'height:120px;width:120px;' , class: "rounded-circle")%>
          <%end%>
        <% end %>
        <h3>@<%= @user.username %></h3>
        <p><i class="fa fa-calendar-o"></i>&ensp;joined <%= time_ago_in_words(@user.created_at) %> ago
        <br><br><span style='color:blue'><%= @user.followers.count %>&nbsp;followers</span> &nbsp;&nbsp;
        <span style='color:blue'><%= @user.following.count %>&nbsp;followings</p>
        <br>
          <% if user_signed_in? && current_user!=@user%>
            <% if current_user.following?(@user)%>
              <%= button_to 'unfollow', relationships_path(user_id: @user.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-primary btn-sm" %> 
            <% else %>
              <%= button_to 'follow', relationships_path(user_id: @user.id), class:"btn btn-outline-primary btn-sm" %> 
            <% end %>
          <% end %>
        </p>
        
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    
    
    </div>
    <% if user_signed_in? && current_user==@user %>
      <div class="col-sm-7" style="padding-right: 0px;">
        <%= render '/components/post_form' %> 
    <% else %>
      <div class="col-sm-7" style="padding-right: 0px;margin-top: -20px;">
    <% end %>
      <div class="scroll-center-column">
        <% @posts.each do |p| %>
          <%= render partial: 'tweet', locals: {p: p} %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="col"style="margin-top: -17px;padding-left: 0px;padding-right: 9px;margin-left: 9px;">
         <%= render 'pages/whoto' %>
        
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
