  <br/>
  <div class="row">
    <div class="col">
      
          <div class="jumbotron profilejumbo">
          <%= image_tag current_user.avatar.variant(resize: "300x300!"), class: "rounded-circle" %>
            <h3 style="font-weight: bold;"><%= params[:id] %></h3>

            <h3 style="font-weight: bold;"><%= @username %></h3>
            <% if user_signed_in? && current_user!=@user%>
              <% if current_user.following?(@user)%>
                <%= button_to 'unfollow', relationships_path(user_id: @user.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %> 
              <% else %>
                <%= button_to 'follow', relationships_path(user_id: @user.id), class:"btn btn-primary" %> 
              <% end %>
            <% end %>
            </div>
      
    </div>
</div>



<br/>
<div class="row">
  <div class="col">
    
  </div>
  <div class="col-6">
    <% @posts.each do |p| %>
    <div class="panel panel-default post-panel">
      <div class="panel-body">
        <div class="col-sm-1">
          <% begin %>
            <%= image_tag User.find(p.user_id).avatar.variant(resize: "40x40!"), class: "rounded-circle", style: 'margin-top:15px;margin-bottom:15px;' %>
            <% rescue %>
            <%= image_tag('/img/no_image.png', style: 'height:50px;width:50px;margin-top:15px;margin-bottom:15px;' , class: "rounded-circle")%>
          <% end %>
        </div>
        <div class="col-sm-11">
          <p class="post-title">
            <span class='post-owner'><%= User.find(p.user_id).username %> </span>
            - <small class='post-time'><%= p.created_at.to_formatted_s(:short)%></small>
          </p>
          <p class="post-content">
            <%= p.content %>
          </p>
        </div>
        <div class="col-sm-12">
          <p class="post-link">
              <a href="" class="post-img"><i class="fas fa-reply"></i></a>
              <%= link_to '', {:controller=>:posts,:action=>:destroy, :id=>p.id}, :method=>:delete, class:"post-img fas fa-trash" %>
              <a href="" class="post-img"><i class="far fa-heart"></i></a>
              <a href="" class="post-img"><i class="fas fa-pencil-alt"></i></a>
          </p>
        </div>
      </div>
      </div>
      <br/>
    <% end %>
  </div>

  <div class="col">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="side-panel">about</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="side-panel" style="opacity: 50%;">
          <small>
            Terms of Service
          Privacy Policy
          Cookie Policy
          Ads info
          More
          © 2021 Twitter, Inc.
          </small>
        </p>
      </div>
    </div>
  </div>
</div>

