<br/>
<div class="panel-body">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-1 text-center">
          <%= link_to root_path do %>
            <i class="fa fa-arrow-left" style='font-size:25px;padding-top:18px;'></i>
          <% end %>
        </div>
        <div class="col-11">
          <h3><%= @user.username %></h3>
          <p><%= @user.posts.count %>&nbsp;tweets</p>
        </div>
      </div>
          
      <div class="jumbotron profilejumbo text-center" style='padding:30px;'>
        <% begin %>
          <% if current_user == @user%>
            <a href="/users/edit"><%= image_tag @user.avatar.variant(resize: "120x120!"), class: "rounded-circle" %></a>
          <% else %>
            <%= image_tag @user.avatar.variant(resize: "120x120!"), class: "rounded-circle" %>
          <%end%>
        <% rescue %>
          <% if current_user == @user%>
            <a href="/users/edit"><%= image_tag('/img/guest.png', style: 'height:120px;width:120px;' , class: "rounded-circle")%></a>
          <%else%>
            <%= image_tag('/img/guest.png', style: 'height:120px;width:120px;' , class: "rounded-circle")%>
          <%end%>
        <% end %>
        <h3>@<%= @user.username %></h3>
        <p><i class="fa fa-calendar-o"></i>&ensp;joined <%= time_ago_in_words(@user.created_at) %> ago
        <br>
          <% if user_signed_in? && current_user!=@user%>
            <% if current_user.following?(@user)%>
              <%= button_to 'unfollow', relationships_path(user_id: @user.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %> 
            <% else %>
              <%= button_to 'follow', relationships_path(user_id: @user.id), class:"btn btn-primary btn-sm" %> 
            <% end %>
          <% end %>
        </p>
        
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <% if user_signed_in? && current_user==@user %>
        <%= render '/components/post_form' %> 
      <% end %>
      <div class="scroll-center-column">
        <% @posts.each do |p| %>
          <%= render partial: 'tweet', locals: {p: p} %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col"style="margin-top: -21px;">
        
        <div class="panel panel-default">
        <div class="panel-body">
          <p style="opacity: 50%;">
              
                <div class="card card-body">
                  <div class="panel-body">
                    <p class="side-panel">who to follow
          
                    </p>
                  </div>
                  <% @users.each do |f|%>
                  <% if f!=current_user && !current_user.following?(f)%>
                    <div clas="col-sm-1">
                      <% begin %>
                          <%= image_tag User.find(f.id).avatar.variant(resize: "40x40!"), class: "sideimg rounded-circle", style: 'margin-top:15px;margin-bottom:50px;' %>
                      <% rescue %>
                          <%= image_tag('/img/guest.png',class: "sideimg rounded-circle", style: 'height:40px;width:40px;margin-top:15px;margin-bottom:50px;')%>
                      <% end %>
                    </div>
                    <div style="margin-top: -84px;margin-bottom: -40px;">
                      <span class="whotofollowtitle" style="margin-left: 42px;">
                        &nbsp;<a href="/user/<%= f.username %>">
                          <span class='post-owner'>
                            <%= f.username%>
                          </span>
                        </a>
                        </span>
                      <p>
                        <% if user_signed_in? %>
            
                            <%= button_to 'follow', relationships_path(user_id: f.id), class:"btn btn-primary btn-sm",style:"margin-left: 127px;margin-top: -80px;" %> 
                          <% end %>
                        
                      </p>
                    </div>
                  <br>
                  <% end %>
                  <% end %>
                </div>
          
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
