<br/>
<div class="row">
  <%# <div class="col-2">
    
  </div>
   %>
  <div class="col-8">
      <div class="panel panel-default post-panel" style="border-radius: 25px 25px 0px 0px;">
        <div class="panel-body">
          <div class="col-sm-1">
            <% begin %>
            <%= image_tag current_user.avatar.variant(resize: "50x50!"), class: "rounded-circle", style: 'margin-top:15px;margin-bottom:15px;' %>
            <% rescue %>
            <%= image_tag('/img/guest.png', style: 'height:50px;width:50px;margin-top:15px;margin-bottom:15px;' , class: "rounded-circle")%>
            <% end %>
          </div>
          <div class="col-sm-11">
          
            <%= form_for(@post) do |f| %>
            <center>

                <div class="field post-title">

                  <%= f.text_field :content, autofocus: true,class:"form-control" %>
                  <br>
                  <label for="s-t"><i class="material-icons">&#xe410;</i></label><br />
                  <%= f.file_field :image, id:'s-t' %>
                  <% if @post.image.attached?%>
                <div class="image-tweet1" >
                  <%= image_tag(@post.image, style: 'width:100%') if @post.image.attached? %>
                 </div>
                 <%= f.label :remove_image %>
                <%= f.check_box :remove_image %>
    
              <% end %>

                </div>

                <div class="actions ">
                  <%= f.submit "Tweet", class:"btn btn-secondary"%>
                <div>
            </center>

                <br>

            <% end %> 

            
          </div>
    
        </div>
    </div>
  </div>

  
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="whotofollowpanel">
          <% @users.each do |user|%>
            <% if user_signed_in?%>
              <% if current_user != user  && !current_user.following?(user)%>
                <div clas="col-sm-1">
                  <% begin %>
                      <%= image_tag User.find(user.id).avatar.variant(resize: "40x40!"), class: "sideimg rounded-circle", style: 'margin-left: 20px;margin-top:15px;margin-bottom:50px;' %>
                  <% rescue %>
                      <%= image_tag('/img/guest.png',class: "sideimg rounded-circle", style: 'margin-left: 20px;height:40px;width:40px;margin-top:15px;margin-bottom:50px;')%>
                  <% end %>

                </div>
                <div class="col-sm-11" style="margin-top: -84px;margin-bottom: -40px;">
                  <span class="whotofollowtitle" style="margin-left: 47px;">
                    &nbsp;<a href="/user/<%= user.username %>">
                      <span class='post-owner'>
                        <%= user.username%>
                      </span>
                    </a>
                  </span>
                  <p>
                    <% if user_signed_in? && current_user!=user%>
                      <% if current_user.following?(@user)%>
                        <%= button_to 'unfollow', relationships_path(user_id: user.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm",style:"margin-left: 138px;margin-top: -80px;"%> 
                      <% else %>
                        <%= button_to 'follow', relationships_path(user_id: user.id), class:"btn btn-primary btn-sm",style:"margin-left: 138px;margin-top: -80px;" %> 
                      <% end %>
                    <% end %>
                  </p>
                </div>
              
                
              <% end %>
            
            <% else %>
                <div clas="col-sm-1">
                  <% begin %>
                      <%= image_tag User.find(user.id).avatar.variant(resize: "40x40!"), class: "sideimg rounded-circle", style: 'margin-top:15px;margin-bottom:50px;' %>
                  <% rescue %>
                      <%= image_tag('/img/guest.png',class: "sideimg rounded-circle", style: 'height:40px;width:40px;margin-top:15px;margin-bottom:50px;')%>
                  <% end %>

                </div>
                <div class="col-sm-11" style="margin-top: -92px;">
                  <span class="whotofollowtitle">
                    <a href="/user/<%= user.username %>">
                      <span class='post-owner'>
                        <%= user.username%>
                      </span>
                    </a>
                    </span>
                    <% if user_signed_in? && current_user!=@user%>
                      <% if current_user.following?(@user)%>
                        <%= button_to 'unfollow', relationships_path(user_id: user.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm",style:"margin-left: 127px;margin-top: -30px;"%> 
                      <% else %>
                        <%= button_to 'follow', relationships_path(user_id: user.id), class:"btn btn-primary",style:"margin-left: 127px;margin-top: -30px;" %> 
                      <% end %>
                    <% end %>
                  </p>
                </div>
              <br/>
            <% end%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>