<br/>
<div class="row">
  <div class="col-1">
    
  </div>
  <div class="col-8">
    <div class="panel panel-default post-panel" style="border-radius: 25px 25px 0px 0px;">
        <div class="panel-body">
            <div class="col-sm-1">
            <% begin %>
                <%= image_tag User.find(@post.user_id).avatar.variant(resize: "40x40!"), class: "rounded-circle", style: 'margin-top:15px;margin-bottom:15px;' %>
            <% rescue %>
                <%= image_tag('/img/guest.png', style: 'height:50px;width:50px;margin-top:15px;margin-bottom:15px;' , class: "rounded-circle")%>
            <% end %>
            </div>
            <div class="col-sm-11">
            <p class="post-title">
                <a href="/user/<%= User.find(@post.user_id).username %>">
                <span class='post-owner'> <%= User.find(@post.user_id).username %> </span>
                </a>
                - <small class='post-time'><%= @post.created_at.to_formatted_s(:short)%></small>
            </p>
            <p class="post-content">
                <%= @post.content %>
                <div class="image-tweet" >
                <%= image_tag(@post.image, style: 'width:100%') if @post.image.attached? %>
                </div>
            </p>
            
            </div>
            <div class="col-sm-12">
            <p class="post-link">
                <%= link_to '', post_path(@post.id),class:"post-img fa fa-reply"%>
                <a href="" class="post-img"><i class="fas fa-retweet"></i></a>
                <%= link_to like_post_path(@post.id) ,class:'like-btn far fa-heart post-img',onClick:"window.location.reload();", method: :put, remote: :true do %>
                    <span class='likes-count'><%= @post.get_upvotes.size %></span>              
                <% end %>
                <% if user_signed_in? && current_user==User.find(@post.user_id)%>
                <%= link_to '', edit_post_path(@post.id),class:"post-img fas fa-pencil-alt"%>
            <% end %>
                <% if user_signed_in? && current_user==User.find(@post.user_id)%>
                <%= link_to '', {:controller=>:posts,:action=>:destroy, :id=>@post.id}, :method=>:delete, class:"post-img fas fa-trash" %>
                <% end %>
            </p>
            </div>
        </div>
        </div>
        <p>
        <%= render 'replies/form' %>
        </p>
        <h2><%= @post.replies.count %> Replies</h2>
        <br/>
        
        <%= render @post.replies %>
  </div>

  
    <div class="col panel panel-default">
      <div class="panel-body">
        <div class="whotofollowpanel">
          <% @users.each do |user|%>
            <% if user_signed_in?%>
              <% if current_user != user  && !current_user.following?(user)%>
                <div clas="col-sm-1">
                  <% begin %>
                      <%= image_tag User.find(user.id).avatar.variant(resize: "40x40!"), class: "sideimg rounded-circle", style: 'margin-left: 20px;margin-top:15px;margin-bottom:50px;' %>
                  <% rescue %>
                      <%= image_tag('/img/guest.png',class: "sideimg rounded-circle", style: 'margin-left: 20px;height:40px;width:40px;margin-top:15px;margin-bottom:50px;')%>
                  <% end %>

                </div>
                <div class="col-sm-11" style="margin-top: -84px;margin-bottom: -40px;">
                  <span class="whotofollowtitle" style="margin-left: 47px;">
                    &nbsp;<a href="/user/<%= user.username %>">
                      <span class='post-owner'>
                        <%= user.username%>
                      </span>
                    </a>
                  </span>
                  <p>
                    <% if user_signed_in? && current_user!=user%>
                      <% if current_user.following?(@user)%>
                        <%= button_to 'unfollow', relationships_path(user_id: user.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm",style:"margin-left: 138px;margin-top: -80px;"%> 
                      <% else %>
                        <%= button_to 'follow', relationships_path(user_id: user.id), class:"btn btn-primary btn-sm",style:"margin-left: 138px;margin-top: -80px;" %> 
                      <% end %>
                    <% end %>
                  </p>
                </div>
              
                
              <% end %>
            
            <% else %>
                <div clas="col-sm-1">
                  <% begin %>
                      <%= image_tag User.find(user.id).avatar.variant(resize: "40x40!"), class: "sideimg rounded-circle", style: 'margin-top:15px;margin-bottom:50px;' %>
                  <% rescue %>
                      <%= image_tag('/img/guest.png',class: "sideimg rounded-circle", style: 'height:40px;width:40px;margin-top:15px;margin-bottom:50px;')%>
                  <% end %>

                </div>
                <div class="col-sm-11" style="margin-top: -92px;">
                  <span class="whotofollowtitle">
                    <a href="/user/<%= user.username %>">
                      <span class='post-owner'>
                        <%= user.username%>
                      </span>
                    </a>
                    </span>
                    <% if user_signed_in? && current_user!=@user%>
                      <% if current_user.following?(@user)%>
                        <%= button_to 'unfollow', relationships_path(user_id: user.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm",style:"margin-left: 127px;margin-top: -30px;"%> 
                      <% else %>
                        <%= button_to 'follow', relationships_path(user_id: user.id), class:"btn btn-primary",style:"margin-left: 127px;margin-top: -30px;" %> 
                      <% end %>
                    <% end %>
                  </p>
                </div>
              <br/>
            <% end%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
